<li><a><i class="fa fa-bed"></i> <%= t('admin.sidemenu_10.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.apartments.title'), admin_apartments_path %>
    </li>
    <li>
      <%= link_to t('admin.apartment_options.title'), admin_apartment_options_path %>
    </li>
  </ul>
</li>