<li><a><i class="fa fa-bed"></i> <%= t('admin.sidemenu_11.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.surroundings.title'), admin_facilities_surroundings_path %>
    </li>
  </ul>
</li>