<li><a><i class="fa fa-bed"></i> <%= t('admin.sidemenu_9.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.restaurants.title'), admin_foods_restaurants_path %>
    </li>
  </ul>
</li>