<li><a><i class="fa fa-home"></i> <%= t('admin.sidemenu_1.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li><a href="<%= sample_root_path %>">Dashboard</a>
    </li>
    <li><a href="<%= sample_dashboard2_path %>">Dashboard2</a>
    </li>
    <li><a href="<%= sample_dashboard3_path %>">Dashboard3</a>
    </li>
  </ul>
</li>