<li><a><i class="fa fa-money"></i> <%= t('admin.sidemenu_3.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.orders.title'), admin_dealings_orders_path %>
    </li>
  </ul>
</li>