<li><a><i class="fa fa-cog"></i> <%= t('admin.sidemenu_2.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.use_terms.title'), admin_settings_use_terms_path %>
    </li>
  </ul>
</li>