<li><a><i class="fa fa-users"></i> <%= t('admin.sidemenu_5.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.users.title'), admin_users_path %>
    </li>
  </ul>
</li>