<div class="nested-fields form-inline" style="margin-bottom: 10px;">
  <div class="form-group">
    <div class="col-md-1 col-sm-6 col-xs-12">
      <%= f.text_field :name, :required => 'required', :class => 'form-control col-md-7 col-xs-12' %>
    </div>
  </div>
  <%= f.time_select(:start_time, :class => 'form-control') %>
  <%= f.time_select(:end_time) %>

  <% del_class = set_button('danger', 'xs', true) + get_glyph_icon(:trash) %>
  <%= link_to_remove_association(
           "",                  # <= button_caption
           f,                   # <= form_object
           :class => del_class  # <= button_style_class
       ) %><br>
</div>