<% provide(:title, "Home") %>

<div style="
    background: rgb(126, 000, 67);
    height: 500px;
    margin-bottom: 20px;
">
  <div style="
      padding-top: 50px;
      font-size: 4em;
      color: #fff;
      text-align: center;
  ">
    物件を探す
  </div>
  <hr>
  <div style="text-align: center;">
    <a class="btn" href="#"
       style="
        background: #fff;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        line-height: 230px;
        color: rgb(228, 000, 127);
        font-size: 4em;
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
    ">
      アパート
    </a>
    <a class="btn" href="#"
       style="
        background: #fff;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        line-height: 230px;
        color: rgb(228, 000, 127);
        font-size: 4em;
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
    ">
      土地
    </a>
  </div>
</div>