<%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
        <% omniauth_url = omniauth_authorize_path(resource_name, provider) %>

        <a href="<%= omniauth_url %>" class="btn btn-block btn-social btn-<%= provider %>">
          <span class="fa fa-<%= provider %>"></span> <%= t('front.sessions.shared.provider_link.message', :provider => OmniAuth::Utils.camelize(provider)) %>
        </a>
    <% end -%>
<% end -%>