<ul class="nav nav-tabs">
  <li role="presentation" class="<%= activate_sub_menu(controller, "apartments") %>" >
    <%= link_to t('admin.apartments.title'), admin_apartments_path %>
  </li>
  <li role="presentation" class="<%= activate_sub_menu(controller, "apartment_options") %>" >
    <%= link_to t('admin.apartment_options.title'), admin_apartment_options_path %>
  </li>
</ul>