<ul class="nav nav-tabs">
  <li role="presentation" class="<%= activate_sub_menu(controller, "surroundings") %>" >
    <%= link_to t('admin.surroundings.title'), admin_facilities_surroundings_path %>
  </li>
</ul>