<ul class="nav nav-tabs">
    <li role="presentation" class="<%= activate_sub_menu(controller, "providers") %>" >
      <%= link_to t('admin.providers.title'), admin_providers_providers_path %>
    </li>
</ul>
