<ul class="nav nav-tabs">
  <li role="presentation" class="<%= activate_sub_menu(controller, "use_terms") %>" >
    <%= link_to t('admin.use_terms.title'), admin_settings_use_terms_path %>
  </li>
</ul>