<div class="container">
  <div class="logout-title__base">
    <div class="logout-title__caption">
      <%= t('front.sessions.my_page.title') %>
    </div>
  </div>

  <div class="logout-top__base">
    <div class="logout-top__left">

    </div>
  </div>

</div>