<!-- This file lives in public/404.html -->
<div class="dialog">
  <div class="page-header">
    <h1 style="font-size: 80px"><b>Error 500</b></h1>
  </div>
  <p style="font-size: 30px">Woops. Something's gone wrong !</p>
</div>
