
<div class="container">
  <div class="well">
    <p class="error-404__title"><i class="fa fa-ban"></i> <%= t('front.errors.error_401.title') %></p>

    <p><%= t('front.errors.error_401.greeting', :site_name => Settings.site[:name]) %></p>

    <p>
      <%= simple_format(t('front.errors.error_401.body')) %>
    </p>
  </div>
</div>
