<div class="ui inverted segment" style="border-radius: 0; background: #6435c9;">
  <div class="ui inverted secondary pointing menu" style="border-color: #6435c9;">
    <button id="side-menu" class="ui button item">
      <i class="sidebar icon"></i>
    </button>
    <a class="active item">
      Home
    </a>
    <div class="right menu">
      <a class="item">
        <span class="ui purple large label">
          <i class="at icon" style="margin-right: 3px;"></i>
          <%= get_action %>
        </span>
      </a>
    </div>
  </div>

</div>