<div class="<%= active_module?('sites') %> title">
  <i class="dropdown icon"></i>
  Sites
</div>
<div class="<%= active_module?('sites') %> content">
  <a class="<%= active?('sites/settings') %> item"><i class="edit icon"></i> Settings</a>
  <a class="<%= active?('sites/blogs') %> item"><i class="globe icon"></i> Blogs</a>
</div>