<div class="<%= active_module?('tenants') %> title">
  <i class="dropdown icon"></i>
  Shoppers
</div>
<div class="<%= active_module?('tenants') %> content">
  <a class="<%= active?('tenants/shoppers') %> item"><i class="edit icon"></i> Shops</a>
  <a class="<%= active?('tenants/distributors') %> item"><i class="globe icon"></i> Distributions</a>
</div>