<div class="header item" style="height: 76px; background: #6435c9; border-radius: 0;">
  <h1 class="ui centered header">
    <div class="content" style="color: #ffffff; line-height: 50px;">
      Suneikii
    </div>
  </h1>
</div>
<div class="ui cards">
  <div class="card" style="border-radius: 0;">
    <div class="content">
      <img class="right floated mini ui image" src="http://img06.shop-pro.jp/PA01137/578/product/68035427.jpg?cmsp_timestamp=20160205104852">
      <div class="header">
        Hiroshige Negishi
      </div>
      <div class="meta">
        Suneikii Admin
      </div>
      <div class="description">
        Hello, Hiroshige!
      </div>
    </div>
  </div>
</div>