<div class="<%= active_module?('dealings') %> title">
  <i class="dropdown icon"></i>
  Trades
</div>
<div class="<%= active_module?('dealings') %> content">
  <a class="<%= active?('dealings/orders') %> item"><i class="edit icon"></i> Orders</a>
  <a class="<%= active?('dealings/payment_methods') %> item"><i class="globe icon"></i> Payment Methods</a>
</div>