<div class="<%= active_module?('analytics') %> title">
  <i class="dropdown icon"></i>
  Analytics
</div>
<div class="<%= active_module?('analytics') %> content">
  <a class="<%= active?('analytics/dashbords') %> item"><i class="edit icon"></i> Dashbord</a>
</div>