select {
    margin-bottom: 10px;
}

.apartment__area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.apartment__area__item {
  display: flex;
  justify-content: center;
  align-content: center;
  background: $main_color;
  min-height: 25px;
  min-width: 70px;
  color: $white;
  font-size: 1.0rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 2px $shadow-light;
}

.apartment__area__item + .apartment__area__item {
}