<div class="basic-info detailed-info">
  <div class="title-base sub-info-title">
    <div class="title sub-title">
      <%= t('front.apartments.detailed_info.title') %>
    </div>
  </div>
  <div class="info-body">
    <%= render 'property_detail' %>

    <%= render 'property_installation' %>

    <%= render 'provider_info' %>
  </div>
</div>