<div class="container">
  <div class="inquiry-thanks">
    <div class="page-header">
      <h3><%= t('front.apartments.thanks.title') %></h3>
    </div>

    <p><%= t('front.apartments.thanks.description') %></p>
    <p><%= t('front.apartments.thanks.greeting') %></p>
  </div>
</div>