<div class="ui mini modal users delete">
  <div class="header">User Delete</div>
  <div class="content" id="users-delete-modal">
    <p>Are you sure to delete ?</p>
  </div>
  <div class="actions">
    <div class="ui approve red button">Delete</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>
