<div class="ui longer modal users detail">
  <div class="header">User Detail</div>
  <div class="scrolling content" id="users-detail-modal" style="height: 700px;">
    <div class="ui top attached tabular menu">
      <a class="active item" id="users-profile-on">Profile</a>
      <a class="item" id="users-activities-on">Activities</a>
      <a class="item" id="users-controls-on">Control</a>
    </div>
    <div class="ui bottom attached active tab segment" id="users-profile">

    </div>
    <div class="ui bottom attached tab segment" id="users-activities">
      <p>Activities<p>
    </div>
    <div class="ui bottom attached tab segment" id="users-controls">
      <p>Control</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel button">Cancel</div>
  </div>
</div>