<table class="ui very basic collapsing celled table">
  <thead>
  <tr><th>User</th>
    <th>Email Address</th>
  </tr></thead>
  <tbody>
  <% @users.each_with_index do |user, i| %>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="http://img06.shop-pro.jp/PA01137/578/product/68035427.jpg?cmsp_timestamp=20160205104852" class="ui mini rounded image">
          <div class="content">
            <%= user.first_name %> <%= user.last_name %>
            <div class="sub header">
              <div class="ui mini violet label" style="margin-top: 5px;"><%= user.who_are_you %></div>
            </div>
          </div>
        </h4></td>
      <td>
        <%= user.email %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
