<% @users.title(t('admin.users.title')) %>

<div id="users-notifications"></div>

<br>
<%= render :partial => 'search_form' %>

<div id="users-search-conditions" class="ui container" style="margin-top: 10px;">
</div>

<br>
<div class="ui attached segment">
  <div class="ui tabular menu">
    <a class="item active">
      Users
    </a>
  </div>
  <div id="users-contents">
    <%= render 'contents' %>
  </div>
</div>
<h3 class="ui bottom attached header">
  New Features Coming Soon
</h3>

<%= render partial: 'detail_modal' %>
<%= render partial: 'delete_modal' %>
