
<header>
  <div class="container">
    <div class="flex-container">
      <i class="fa fa-home top-header__icon-img" aria-hidden="true"></i>

      <div class="top-header__title">
        <%= Settings.site[:name] %>
      </div>

      <!--<div class="top-header__desc-body">-->
        <!--<div class="top-header__desc-contents">-->
          <!--物件数No.1の<br>-->
          <!--不動産・住宅情報サイトSNK Property-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="top-header__social-body">-->
        <!--<div class="top-header__social-icon">-->
          <!--<i class="fa fa-facebook" aria-hidden="true"></i>-->
        <!--</div>-->

        <!--<div class="top-header__social-icon">-->
          <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>

</header>
