<div class="ui orange message">
  <div class="header">
    Data not found by your searching
  </div>
  <ul class="list">
    <li>Try to remove some conditions.</li>
    <li>Try other conditions</li>
  </ul>
</div>